@model CaseCommentViewModel
@{
    ViewBag.LayoutView = LayoutPage.Client;
    ViewBag.ViewTitle = Labels.viewTitle_CaseCommentDisplay;
}

<div>
    <label class="control-label wdth-strct-200" >@Labels.CreatedByName</label>
    @Html.DisplayFor(model => model.UserName)
</div>

<div>
    <label class="control-label wdth-strct-200" >@Labels.DateCreated</label>
    @Html.DisplayFor(model => model.DateCreated)
</div>

<div>
    <label class="control-label wdth-strct-200" >@Labels.Subject</label>
    @Html.DisplayFor(model => model.Subject)
</div>

<br />

<div>
    <label class="control-label wdth-strct-200" >@Labels.Comment</label>
    @Html.EditorFor(model => model.CommentBody, "TinyMCE_Print")
</div>


<div class="mrgn-tp-sm">
    @if (RightsHelper.HasRight(UserRights.CaseManagement_Comments_Edit, Model.OrganizationID))
    { 
        @Html.ActionLink(Labels.Edit, "EditCaseComment", "CaseManagement", new { caseCommentID = Model.CaseCommentID, caseID = Model.CaseID, id = Model.ReadOnlyVitals.ClientID }, new { @class = "editButton", alt=Labels.Edit, aria_label=Labels.Edit, @role = "button" })
    }

    @Html.ActionLink(Labels.Cancel, "Edit", "CaseManagement", new { caseID = Model.CaseID, id = Model.ReadOnlyVitals.ClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label=Labels.Edit, @role = "button" }) 
</div>