@model AddressViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_AddPlaceAddress;
    
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("AddressSearchNew", "Places", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.PlaceID)

        @Html.Partial("_AddressSearch", Model)

        <div id="newAddressForm">
            <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
				    <button type="submit" class="saveButton  ">@Labels.Save</button>
                    @Html.ActionLink(Labels.Cancel, "PlaceDetails", "Places", new { id = Model.PlaceID }, new { @class = "cancelButton  ", title = Labels.Cancel, alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
			    </div>
		    </div>                 
        </div>
    }
</div>

@* TODO: I don't think any of the JS is being used. -JdV *@
@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
		@<script type="text/javascript">
            $(function () {
                $('.clearButton').click(function () {
                    FormFields.each(function (index, element) {
                        element.value = '';
                    });

        //            ToggleFields();
                    UpdateDropdowns();

                    //$("#existingAddressForm").hide();
                    $("#newAddressForm").show();

                    return false;
                }
                );
            });
        </script>);
}
