@model ClientVitalsViewModel

<section id="Modal_NewItem" class="modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">@Labels.NewContactInfo</h2>
    </header>


    <div class="modal-body">
        <form id="AdditionalContactInfo_Form" class="form-horizontal">

            @if (RightsHelper.HasRight(UserRights.Client_Contacts_Add))
            {

            <div class="col-sm-12">
                @Html.Hidden("ClientID", Model.ReadOnlyVitals.ClientID as object)

                @Html.Partial("_DigitalContact", new DigitalContactViewModel { PersonID = ViewBag.personID ?? ViewBag.ReadOnlyVitals.PersonID, ClientID = ViewBag.ReadOnlyVitals.ClientID })

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <button class="addButton" id="btnAdditionalInfo" type="submit">@Labels.Add</button>
                        </div>
                    </div>
                </div>
            </div>


            }


            <div class="clearfix"></div>

            <div class="mrgn-tp-lg">
                <h4>@Labels.ExistingContactInfo</h4>
                @Html.Partial("_DigitalContactTable", Model.ClientContactVM)
            </div>

        </form>
    </div>

    <div class="modal-footer" style="background-color: white;">


        <button id="AdditionalInfoCloseBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Close</button>
    </div>

</section>


<script type="text/javascript">
    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('.modal-body');

    $(document).ready(function () {

        var personID = '@ViewBag.id';
        console.log("FD - update table for person : " + personID);
        $('#digitalContactTable').trigger("wb-init.wb-tables");

    });


    $("#btnAdditionalInfo").click(function ()
    {

        if ($("#AdditionalContactInfo_Form").valid()) {
            var btn = $(this);
            btn.attr("disabled", true); //Disable the button so multiple request don't go through

            $.ajax({
                url: "@Url.Content("~/PeopleTombstone/AjaxAdditionalContactInfo")",
                type: "POST",
                data: $('#AdditionalContactInfo_Form').serialize()
            }).done(function (data)
            {

                defaultNotify(data.Success); //display the default error or success message

                btn.attr("disabled", false); //Enable the button incase there was an error

                if (data.Success)
                {
                    $('#digitalContactTable').DataTable().ajax.reload();
                }

            });
        }
    });

</script>