@model GoodsItemsViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.GoodsItemsID)

<div>
    @Html.HifisEditorFor(model => model.GoodTypeID, CachedTableTypes.HIFIS_GoodsTypes)
</div>  
 
<div>
    @Html.HifisEditorFor(model => model.Name)
</div>

<div>
    @Html.HifisListBoxFor(model => model.OrganizationIDs, ViewBag.OrgList as SelectList)
</div>

<div>
    @Html.HifisEditorFor(m => m.OwnerOrganizationID, Model.OrgList)
</div>

<div>
    @Html.HifisEditorFor(model => model.UnitOfMeasureTypeID, CachedTableTypes.HIFIS_UnitOfMeasureTypes)
</div> 
                
<div>
    @Html.HifisEditorFor(model => model.NoOfUnits)
</div>

<div>
    @Html.HifisEditorFor(model => model.UnitCost, "Money", new { @class = "money" })
</div> 

<div>
    @Html.HifisEditorFor(model => model.UnitPrice, "Money", new { @class = "money" })
</div>

<div>                                                       
	@Html.HifisEditorFor(m => m.ActiveYN, "YesNo")
</div>
