@model ExpressGoodsAndServicesViewModel 
@{
    ViewBag.ViewTitle = Labels.viewTitle_ExpressList;   
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

<div class="wb-tabs">
	<div class="tabpanels">
        <details id="details-panel1">
            <summary>@Labels.Goods</summary>
            @Html.Partial("_GoodsItemsList", Model.GoodsItems)
        </details>

        <details id="details-panel2">
            <summary>@Labels.Services</summary>
            @Html.Partial("_ServicesItemsList", Model.ServicesItems)
        </details>
    </div>
</div>

<div class="clearfix"></div>

<div class="mrgn-tp-md"> 
    @* Change rights once new ones are added. *@
    @if (RightsHelper.HasRight(UserRights.ExpressGSTemplates_Add))
    {
        @Html.ActionLink(Labels.NewExpressGoodItem, "NewExpressGoodsItem", "GoodsAndServices", new { @class = "addButton  ", alt=Labels.NewExpressGoodItem, aria_label = Labels.NewExpressGoodItem, @role = "button" }) 
    }
    @* Change rights once new ones are added. *@
    @if (RightsHelper.HasRight(UserRights.ExpressGSTemplates_Add))
    {
        @Html.ActionLink(Labels.NewExpressServiceItem, "NewExpressServicesItem", "GoodsAndServices", new { @class = "addButton  ", alt=Labels.NewExpressServiceItem, aria_label = Labels.NewExpressServiceItem, @role = "button" }) 
    }
</div>
