@model HelpTopicModel 
@{
    Layout = null;
}

<div class="panel panel-primary" style="min-width:300px; max-width:60%; margin-left:20% !important;">
    <h3 class="panel-title panel-heading">
        @if (ViewBag.isEdit == true)
        { 
            @Labels.HifisHelp_ChangeTopicName
        }
        else
        { 
            @Labels.HifisHelp_TopicNew
        }  
        <button title="@Labels.Close" type="button" class="wet-lightbox-close-fix mfp-close">x</button>   
    </h3>
    <div class="panel-body">
        @using (Html.BeginForm("InsertOrUpdateTopic", "HIFISHelp", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.HelpTopicID)
            @Html.HiddenFor(model => model.HelpModuleID)
            <div class="row">
                <div class="col-sm-3">  
                    @Html.Label(Labels.HifisHelp_NameE) @Html.Partial("_MandatoryTab")
                </div>
                <div class="col-sm-9">   
                    @Html.TextBoxFor(model => model.NameE)                            
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">  
                    @Html.Label(Labels.HifisHelp_NameF) @Html.Partial("_MandatoryTab")
                </div>
                <div class="col-sm-9">   
                    @Html.TextBoxFor(model => model.NameF)                            
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">  
                    <button type="submit" class="saveButton btn">@Labels.Save</button>
                </div>
            </div>
        }
    </div>
</div>
