@model ExcelViewModel

<section id="Modal_Excel" class="modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h2 class="modal-title">@Labels.Excel_ExcelOptions</h2>
	</header>    

	<div class="modal-body">        
        <section class="alert alert-info">
	        <h3>@Labels.Info</h3>
	        <p>@Labels.Excel_NoAdditionalParams.</p>
        </section>

        @using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { @class = "form-horizontal", id="excelParamForm" }))
        {
            @Html.HiddenFor(m => m.DataSetName)
            @Html.HiddenFor(m => m.ClientID)           
        }
	</div>

    <div class="modal-footer" style="background-color: white;">
        <button id="excelGetBtn" class="excelButton">@Labels.Excel_GetExcel</button>
		<button id="excelCloseBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Close</button>
	</div>
</section>

<script> 

    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('.modal-body');    

    $(function () { $("#excelParamForm").hifisValidation(); });

    $("#excelGetBtn").click(function () {        

        if ($("#excelParamForm").valid()) {
            $("#excelParamForm").submit();
        }
    });
    
</script>


