@model ClientLifeEventsViewModel

<section id="Modal_AddLifeEvent" class="modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">@Labels.viewTitle_AddClientLifeEvent</h2>
    </header>

    <div class="modal-body">
        <div>
            @using (Html.BeginForm("AddLifeEvent", "ClientFactors", FormMethod.Post, new { @class = "form-horizontal", id = "eventSaveForm" }))
            {

                @Html.Partial("_LifeEvent", Model)
            }
        </div>
    </div>

    <div class="modal-footer" style="background-color: white;">
        <div class="mrgn-tp-md">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="eventSaveBtn" class="saveButton  ">@Labels.Save</button>
                    <button id="closeBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Cancel</button>
                </div>
            </div>
        </div>

    </div>
</section>

<script>

    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('#Modal_AddLifeEvent');

    $(function () {
        $("#eventSaveForm").hifisValidation();

    });


    $("#eventSaveBtn").click(function () {

        if ($("#eventSaveForm").valid()) {

            var btn = $(this);
            btn.attr("disabled", true); //Disable the button so multiple request don't go through
            $.ajax({

                url: "@Url.Content("~/ClientFactors/AddLifeEvent")",
                type: "POST",
                data: $('#eventSaveForm').serialize()

            }).done(function (data) {
                btn.attr("disabled", false); //Enable the button incase there was an error

                if (data.Success) {
                    defaultNotify(data.Success);
                    $("#closeBtn").click(); //Close the modal window on success
                    $('#eventsTable').DataTable().ajax.reload();
                } else {
                    defaultNotify(data.Success);
                }
            });
        }
    });

</script>





