@model ClientContributingBehaviouralFactorsViewModel 

<section id="Modal_AddBFactor" class="modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">@Labels.viewTitle_AddClientBehaviouralFactor</h2>
    </header>

    <div class="modal-body">
        <div>
            @using (Html.BeginForm("AddBehaviouralFactor", "ClientFactors", FormMethod.Post, new { @class = "form-horizontal", id = "behaviourSaveForm" }))
            {
                @Html.Partial("_BehaviouralFactor", Model)
            }
        </div>
    </div>

    <div class="modal-footer" style="background-color: white;">
        <div class="mrgn-tp-md">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="behaviourSaveBtn" class="saveButton  ">@Labels.Save</button>
                    <button id="closeBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Cancel</button>
                </div>
            </div>
        </div>

    </div>
</section>

<script>

    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('#Modal_AddBFactor');

    $(function () {
        $("#behaviourSaveForm").hifisValidation();

    });


    $("#behaviourSaveBtn").click(function () {

        if ($("#behaviourSaveForm").valid()) {

            var btn = $(this);
            btn.attr("disabled", true); //Disable the button so multiple request don't go through
            $.ajax({

                url: "@Url.Content("~/ClientFactors/AddBehaviouralFactor")",
                type: "POST",
                data: $('#behaviourSaveForm').serialize()

            }).done(function (data) {
                btn.attr("disabled", false); //Enable the button incase there was an error

                if (data.Success) {
                    defaultNotify(data.Success);
                    $("#closeBtn").click(); //Close the modal window on success
                    $('#behaviourTable').DataTable().ajax.reload();
                    getROVitals("@Model.ClientID"); //Needed to refresh "Client Alerts" 
                } else {
                    defaultNotify(data.Success);
                }
            });
        }
    });

</script>





