@model ClientRisksViewModel

<section id="Modal_NewRisk" class="modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">@Labels.viewTitle_AddClientRisk</h2>
    </header>
    <div class="modal-body">
        <form id="newRiskForm" class="form-horizontal">
            @Html.Partial("_BaseHiddenFor", (BaseViewModel)Model)
            @Html.Partial("_RiskFactor", Model)
        </form>
    </div>

    <div class="modal-footer" style="background-color: white;">
        <button type="submit" id="newRiskSaveBtn" class="saveButton">@Labels.Save</button>
        <button id="newRiskCloseBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Close</button>
    </div>
</section>

<script>
    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('.modal-body');

    $('#risksTable').on('draw.dt', function () {
        init_hifis();
        $('.wb-lbx').trigger("wb-init.wb-lbx");
    });

    $('input[id=ClientID]').val($('#HiddenClientID').val());

    $("#newRiskSaveBtn").click(function () {

        if ($("#newRiskForm").valid()) {

            var btn = $(this);
            btn.attr("disabled", true); //Disable the button so multiple request don't go through

            $.ajax({

                url: "@Url.Content("~/ClientFactors/AddRisk")",
                type: "POST",
                data: $("#newRiskForm").serialize()

            }).done(function (data) {

                defaultNotify(data.Success); //display the default error or success message

                btn.attr("disabled", false); //Enable the button incase there was an error

                if (data.Success) {
                    $('#risksTable').DataTable().ajax.reload();
                    $("#newRiskCloseBtn").click(); //Close the modal window on success
                }
            });
        }
    });

</script>


