@model ClientLifeEventsViewModel
@{
    //TODO: Why is this being done in the view -JdV
    if (Model.ProbationFactor == null){ Model.ProbationFactor = new ClientProbationViewModel(); }
}
   
@Html.HiddenFor(model => model.ProbationFactor.ProbationEventID)
@Html.HiddenFor(model => model.LifeEventTypeID)
       
<fieldset class="color-white">
    <legend>@Labels.NewProbation</legend>

    @*<div class="row">    
        <div class="col-sm-offset-2 mrgn-bttm-md">
		@if (RightsHelper.HasRight(UserRights.People_Vitals_Add) && RightsHelper.HasRight(UserRights.On_The_Fly_Button_Person_Add))
        { 
            @Html.Partial("_OnTheFlyButton",
                new OnTheFlyButtonViewModel()
                {
                    ButtonName = @Labels.NewPerson,
                    Title = @Labels.NewPerson,
                    ActionName = "NewVitals",
                    ControllerName = "PeopleTombstone",
                    PartialName = "~/Views/PeopleTombstone/_PeopleVitals.cshtml",
                    CallBackFunction = "OnTheFlyCallBackNewPerson",
                    ViewModel = new PeopleVitalsViewModel()
                }
            )
        }
        </div>
    </div>*@

    <div class="clearfix"></div>
    
    <div>
        @Html.HifisEditorFor(m => m.ProbationFactor.ProbationOfficerID, ViewBag.ProbationWorkerList as SelectList)
    </div>
        
    <div>
        @Html.HifisTextAreaFor(model => model.ProbationFactor.Comments, new { @class = "commentBoxSize max_width_90" })
        @Html.ValidationImageFor(model => model.ProbationFactor.Comments)
    </div>
      
</fieldset>
   
@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
		@<script type="text/javascript">

            function OnTheFlyCallBackNewPerson(objectID, formData) {
                var Name = formData["LastName"] + ", " + formData["FirstName"];
                $("#ProbationFactor_ProbationOfficerID").append($("<option />").val(objectID).text(Name));
                $("#ProbationFactor_ProbationOfficerID").val(objectID);
                $("#ProbationFactor_ProbationOfficerID").trigger('change');
            }
        </script> 
    );
}