@model ClientContributingBehaviouralFactorsViewModel

@Html.Partial("_ClientVitalsRO_ext", new ClientVitalsReadOnlyWrapperViewModel(Model.ReadOnlyVitals))

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.ClientID)
@Html.HiddenFor(model => model.ClientFactorID)
@Html.HiddenFor(model => model.isContributingFactor)

<div>
    @Html.HifisEditorFor(model => model.ContributingFactorTypeID, CachedTableTypes.HIFIS_ContributingFactorTypes, new { @style = "width:400px", @id = "factor" , @class = "max_width_90" })
</div>

<div>
    @Html.HifisEditorFor(model => model.DateStart)
</div>

<div>
    @Html.HifisEditorFor(model => model.DateEnd)
</div>

<div>
    @Html.HifisTextAreaFor(model => model.Comments, new { @class = "commentBoxSize max_width_90" })
    @Html.ValidationImageFor(model => model.Comments)
</div>