@model HIFISGlossaryModel 
@{
    Layout = null;
}

<div class="panel panel-primary" style="min-width:300px; max-width:60%; margin-left:20% !important;">
    <h3 class="panel-title panel-heading">
        @if (ViewBag.isEdit == true)
        { 
            @Labels.HifisHelp_GlossaryEditTerm
        }
        else
        { 
            @Labels.HifisHelp_GlossaryNewTerm
        }
        <button title="@Labels.Close" type="button" class="wet-lightbox-close-fix mfp-close">x</button>   
    </h3>
    <div class="panel-body">
        @using (Html.BeginForm("InsertOrUpdateGlossary", "HIFISHelp", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.HelpGlossaryID)
            <div class="row">
                <div class="col-sm-6">
                    @Html.Label(Labels.HifisHelp_TermE) @Html.Partial("Common/_HelpMandatory")  
                    <br /> 
                    @if (ViewBag.isEdit == true)
                    { 
                        @Html.TextBoxFor(model => model.WordE)
                    }
                    else
                    { 
                        @Html.TextBoxFor(model => model.WordE, new { onblur = "onBlurE()" })
                    }                    
                </div>
                <div class="col-sm-6">
                    @Html.Label(Labels.HifisHelp_TermF) @Html.Partial("Common/_HelpMandatory")   
                    <br />
                    @if (ViewBag.isEdit == true)
                    { 
                        @Html.TextBoxFor(model => model.WordF)
                    }
                    else
                    { 
                        @Html.TextBoxFor(model => model.WordF, new { onblur = "onBlurF()" })
                    } 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.Label(Labels.HifisHelp_DefinitionE) @Html.Partial("Common/_HelpMandatory")
                    <br />
                    @Html.TextAreaFor(model => model.DefinitionE) 
                </div>
                <div class="col-sm-6">
                    @Html.Label(Labels.HifisHelp_DefinitionF) @Html.Partial("Common/_HelpMandatory")
                    <br />
                    @Html.TextAreaFor(model => model.DefinitionF) 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">  
                    <button type="submit" class="saveButton btn">@Labels.Save</button>
                </div>
            </div>
        }
    </div>
</div>