@model HelpTopicModel
@{
	string lang = ViewBag.CurrentCulture;
	string english = Constants.Eng;
	ViewBag.LayoutView = LayoutPage.Help;
	ViewBag.ViewTitle = Labels.HifisHelp_TopicDev + " - " + (lang == english ? Model.NameE : Model.NameF);
	string breadcrumbsTitle = (lang == english ? Model.NameE : Model.NameF);
}

@Html.Partial("_ValidationSummaryOuter")

@Html.Partial("Plugins/_TinyMCEScript")
@Html.Partial("Plugins/_TinyMCE-HelpAjaxFix")

<ol class="breadcrumb mrgn-tp-sm">
	<li><a class="ui-link" href='@Url.Content("~/HIFISHelp/Admin")'>@Labels.HifisHelp_HIFISContentDevelopmentPortal</a></li>
	<li><a class="ui-link" href='@Url.Content("~/HIFISHelp/CreateHelpModule")'>@Labels.HifisHelp_ModulesDev</a></li>
	<li>@breadcrumbsTitle</li>
</ol>
@Html.Partial("Common/_TopArea")  

<h5 class="mrgn-tp-sm">@Labels.HifisHelp_AssociatedGlossaryWords</h5>
@using (Html.BeginForm("InsertOrUpdateGlossaryTopicWords", "HIFISHelp", FormMethod.Post, new { @class = "form-horizontal" }))
{          
	@Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HelpTopicID)    
	
	<div class="row">
		<div class="mrgn-rght-md mrgn-lft-md">
			@Html.ListBoxFor(model => model.GlossaryWordIDs, ViewBag.WordsViewBag as SelectList, new { @class ="wdth-90" })
			<button type="submit" class="inline-block pull-right saveButton">@Labels.Save</button>
		</div>
	</div>
} 
<hr class="mrgn-bttm-sm"/>
<div class="row">
    <div class="col-xs-6">
        <h5 class="mrgn-tp-0">@Labels.HifisHelp_ExistingTopicMaterial</h5>     
    </div>
    <div class="col-xs-6">
        <div class="pull-right mrgn-bttm-sm">
		    @Html.ActionLink(Labels.HifisHelp_ViewTopic, "HelpTopic", "HIFISHelp", new { id = Model.HelpTopicID }, new { @class = "searchButton", target="_blank", alt=Labels.HifisHelp_ViewTopic, aria_label = Labels.HifisHelp_ViewTopic, @role = "button" }) 		        
	    </div>
    </div>
</div>
@if (!Model.TopicMaterals.IsEmptyOrNull())
{
	<div class="panel-group" id="accordion">
		@for (int i = 0; i < Model.TopicMaterals.Count; i++)
		{ 
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">
						<div class="row">                           
							<div class="col-md-4">
								@Model.TopicMaterals[i].MaterialName
							</div>
							<div class="col-md-4">
								<div class="text-center">
									@Labels.HifisHelp_LayoutOrder: 
									@Model.TopicMaterals[i].LayoutOrder
								</div>
							</div>
							<div class="col-md-4">
								<div class="pull-right">
									@Html.ActionLink(Labels.HifisHelp_MaterialEdit, "EditTopicMaterial", "HIFISHelp", new { id = Model.TopicMaterals[i].HelpMaterialID, contentTypeID = Model.TopicMaterals[i].HelpMaterial.ContentTypeID }, new { @class = "editButton editMatButton", data_Id = Model.TopicMaterals[i].HelpMaterialID, data_Content = Model.TopicMaterals[i].HelpMaterial.ContentTypeID, data_Topic = Model.TopicMaterals[i].HelpTopicID, alt=Labels.HifisHelp_MaterialEdit, aria_label = Labels.HifisHelp_MaterialEdit, @role = "button" }) 
									@Html.ActionLink(Labels.HifisHelp_MaterialRemove, "RemoveMaterialFromTopic", "HIFISHelp", new { topicID = Model.HelpTopicID, materialID = Model.TopicMaterals[i].HelpMaterialID }, new { @class = "deleteButton", alt=Labels.HifisHelp_MaterialRemove, aria_label = Labels.HifisHelp_MaterialRemove, @role = "button" }) 
								</div>
							</div>
						</div>
					</a>
				</div>                    
				<div id="collapse@(i)" class="panel-collapse collapse">
					@Html.Partial("HelpPartials/_DisplayHelpMaterial", Model.TopicMaterals[i].HelpMaterial)      									 
				</div>            
			</div>
		}
	</div>
}        
<hr class="mrgn-tp-0"/>
<div class="row">
	<div class="col-sm-3">
		<h5 id="newContent" class="mrgn-tp-0">@Labels.HifisHelp_NewMaterial</h5>
		<h5 id="editContent" class="mrgn-tp-0">@Labels.HifisHelp_MaterialEdit</h5>
		<div class="newContentDropdown">
			@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
	  { 
				@Html.DropDownListFor(model => model.ContentTypeID, ViewBag.HelpContentTypes as SelectList) 
	  } 
		</div>
	</div>
	<div class="col-sm-4">
		<div class="newContentDropdown">   
			<h5 id="existMat" class="mrgn-tp-0">@Labels.HifisHelp_ChooseExistingMaterial</h5>                         
			@Html.Partial("HelpPartials/_CreateTopic_ExistingMaterial", new HelpTopicMaterialModel { HelpTopicID = Model.HelpTopicID })
		</div>
	</div>
	<div class="col-sm-5">   
	</div>
</div>

<div id="ajaxContentArea">      
	@using (Html.BeginForm("InsertOrUpdateTopicMaterial", "HIFISHelp", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.AntiForgeryToken()
        <div id="replaceHere">
   
		</div> 
				
		<div class="mrgn-tp-sm">
			<button type="submit" class="saveButton">@Labels.Save</button>
			@Html.ActionLink(Labels.Cancel, "CreateHelpTopic", "HIFISHelp", new { id = Model.HelpTopicID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
		</div>                

	}
</div>
	 
<div id="ajaxContentAreaImage">      
	@using (Html.BeginForm("InsertOrUpdateTopicMaterialImage", "HIFISHelp", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
        <div id="replaceHereImage">
   
		</div>               
		<div class="mrgn-tp-sm">
			<button type="submit" class="saveButton">@Labels.Save</button>
			@Html.ActionLink(Labels.Cancel, "CreateHelpTopic", "HIFISHelp", new { id = Model.HelpTopicID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
		</div>
	}
</div>

<div id="ajaxMaterialPreview">
	<hr class="mrgn-tp-sm mrgn-bttm-sm"/>  
	<h5 class="mrgn-tp-0">@Labels.HifisHelp_MaterialPreview</h5> 
    <hr class="mrgn-tp-sm mrgn-bttm-sm"/>   
	<div id="replaceHerePreview">
   
	</div>   
</div>
@using (Html.BeginScriptContext())
{
	Html.AddScriptBlock(
		@<script type="text/javascript">
			 function resetTinyMCE() {
				 var i, t = tinyMCE.editors;
				 for (i in t) {
					 if (t.hasOwnProperty(i)) {
						 t[i].remove();
					 }
				 }
			 }

			 $('#ajaxContentArea').hide();
			 $('#ajaxContentAreaImage').hide();
			 $('#editContent').hide();
			 $('#ajaxMaterialPreview').hide();

			 $('#ContentTypeID').change(function () {
				 var id = $(this).val();
				 var topic = $('#HelpTopicID').val();		        
				 resetTinyMCE();

				 $.ajax({
					 url: '@Url.Content("~/HifisHelp/NewTopicMaterial")',
					 type: "GET",
					 data: { contentTypeID: id, helpTopicID: topic, uniq_param: (new Date()).getTime() },
					 beforeSend: function(jqXHR, settings) { 
						@{ 
							<text> 
							if (typeof window.hifis_numAjaxCalls === 'undefined') { window.hifis_numAjaxCalls = 0; } 
							window.hifis_numAjaxCalls += 1; 

							if ($('#overlay-div').length < 1) { 
								$('<div id="overlay-div"><div id="inner-overlay"><img src="@Url.Content("~/Content/images/Loaders/loader.gif")" class="loading_circle" alt="loading" /> <p>@Labels.Loading</p></div></div>').appendTo('body');
							} 
							</text> 
						}
					} 
				 })
				.done(function (partialViewResult) {
					$('.newContentDropdown').hide();
					$("#overlay-div").hide(); 
					if (id !=  @((byte)HIFISHelp_HelpContentTypes.Image)) {
						$('#ajaxContentArea').show();
						$('#ajaxMaterialPreview').hide();
						$('#ajaxContentAreaImage').hide();
						$("#replaceHere").html(partialViewResult);                       
						$(function () {
							initTinyMCE();
							$(document).scrollTop($("#replaceHere").offset().top);
						});
					}
					else {
						$('#ajaxContentArea').hide();
						$('#ajaxMaterialPreview').hide();
						$('#ajaxContentAreaImage').show();
						$("#replaceHereImage").html(partialViewResult);
						$(function () {
							$(document).scrollTop($("#replaceHereImage").offset().top);
						});  
					}				    
				});
			 });

			 $('#HelpMaterialID').change(function () {
				 var id = $(this).val();

				 $.ajax({
					 url: '@Url.Content("~/HifisHelp/GetMaterialPreview")',
					 type: "GET",
					 data: { id: id, uniq_param: (new Date()).getTime() }
				 })
				.done(function (partialViewResult) {
					$('#ajaxMaterialPreview').show();
					$("#replaceHerePreview").html(partialViewResult);		    
				});
			 });

			$('.editMatButton').click(function (e) {
				e.preventDefault();

				$('#newContent').hide();
				$('.newContentDropdown').hide();
				resetTinyMCE();

				var editDataID = $(this).attr('data-id')
				var contentType = $(this).attr('data-content')
				var topicID = $(this).attr('data-topic')
				$.ajax({
					url: '@Url.Content("~/HifisHelp/EditTopicMaterial")',
					type: "GET",
					data: { id: editDataID, contentTypeID: contentType, helpTopicID: topicID, uniq_param : (new Date()).getTime() },
					beforeSend: function(jqXHR, settings) { 
						@{ 
							<text> 
							if (typeof window.hifis_numAjaxCalls === 'undefined') { window.hifis_numAjaxCalls = 0; } 
							window.hifis_numAjaxCalls += 1; 

							if ($('#overlay-div').length < 1) { 
								$('<div id="overlay-div"><div id="inner-overlay"><img src="@Url.Content("~/Content/images/Loaders/loader.gif")" class="loading_circle" alt="loading" /> <p>@Labels.Loading</p></div></div>').appendTo('body');
							} 
							</text> 
						}
					} 
				 })
				.done(function (partialViewResult) {
					$("#overlay-div").hide();  
					if (contentType !=  @((byte)HIFISHelp_HelpContentTypes.Image)) {
						$('#ajaxContentArea').show();
						$('#ajaxMaterialPreview').hide();
						$('#ajaxContentAreaImage').hide(); 			        
						$("#replaceHere").html(partialViewResult);
						$(function () {
							initTinyMCE();
							$(document).scrollTop($("#replaceHere").offset().top);
						});
					}
					else {
						$('#ajaxContentArea').hide();
						$('#ajaxMaterialPreview').hide();
						$('#ajaxContentAreaImage').show();
						$("#replaceHereImage").html(partialViewResult);
						$(function () {
							$(document).scrollTop($("#replaceHereImage").offset().top);
						});  
					}
				});
			});
		</script>
);
} 