@model ReservationCloneViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_CloneReservation;
    
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div class="wet-boew-lightbox">
    <span class="lb-gallery">
        
        @using (Html.BeginForm("Clone", "Reservations", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_Clone");
            
            <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
				    <button type="submit" class="saveButton" name="submitBtn" value="default">@Labels.Save</button>
                    @if (Model.PrimaryClientID == null)
                    { 
                        @Html.ActionLink(Labels.Cancel, "List", "Reservations", new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" }) 
                    }
                    else
                    { 
                        @Html.ActionLink(Labels.Cancel, "ClientList", "Reservations", new { id = Model.PrimaryClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" }) 
                    }
			    </div>
		    </div>            
        }
    </span>
</div>
