@model ContinuumViewModel
@{
    ViewBag.ViewTitle = Model.Name;
    
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

<style>
    /*Very specific stlyes for this page only*/
    mark {
      padding: 0;
      background: transparent;
      background: linear-gradient(to right, #f0ad4e 50%, transparent 50%);
      background-position: right bottom;
      background-size: 200% 100%;
      transition: all .5s ease;
    }

    mark.animate {
      background-position: left bottom;
      color: #000;
    }
</style>

@if (Model.Categories.Count > 0)
{
    <input name="keyword" type="text" class="form-control" placeholder="@(Labels.Search)" style="width:100%;" />
    
    <div style="padding-top:10px; white-space: nowrap; overflow-x:auto;">       

        <div class="context">
            @foreach (var category in Model.Categories)
            {
                <div style="width: 250px; display: inline-block;">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">@category.Name</h3>
                        </div>
                        <div style="height: 500px; overflow-y:auto; padding: 15px;" class="panel-body">
                            <ul style="padding-left: 10px; white-space:normal;">
                                @foreach (var houseType in category.HousingTypes)
                                {
                                    <li>@houseType.Value</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="clear:both; margin-top: 20px;"></div>

    <a href="@Url.Content("~/Continuum/Manage?ContinuumID=" + Model.ContinuumID)" class="manageButton" role="button">@Labels.HousingContinuum_Manage</a>
    
    @Html.ActionLink(Labels.Cancel, "List", "Continuum", null, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel })
}
else
{
    <section>
        <details class="alert alert-info" id="alert-success" open="open">
            <summary class="h2">
                <h2>@Labels.HousingContinuum_NoContent!</h2>
            </summary>
            <p>@Labels.HousingContinuum_AddContinuumContent <a href="@Url.Content("~/Continuum/Manage?ContinuumID=" + Model.ContinuumID)">@Labels.HousingContinuum_AddContinuumContent_Here</a>.</p>
        </details>
    </section>
}            

<div style="margin-top: 15px;">@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>

@*  Simple highlight plugin used to give users the ability to search and highlight keywords
    Added this because this lists get long and could be difficult to find a specific word
 *@
@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript" src="@Url.Content("~/Scripts/Hifis/mark/mark.min.js")"></script>
    );
    
    Html.AddScriptBlock(
        @<script type="text/javascript">
            var makeMark = function () {

                // Read the keyword
                var keyword = $("input[name='keyword']").val();

                // Determine selected options
                var options = {
                    "each": function (element) {
                        setTimeout(function () {
                            $(element).addClass("animate");
                        }, 500);
                    },
                    "className": "highlighted",
                    "separateWordSearch": false
                };

                var markJS = new Mark(document.querySelector("div.context"));
                markJS.unmark(options);
                markJS.mark(keyword, options);
            };

            $("input[name='keyword']").on("keyup", makeMark);
        </script>
    );
}