@model ConfirmActionViewModel
@{
    var appSettings = (HIFIS.CONTRACTS.WCFContracts.DataContracts.ApplicationSettings)ViewBag.AppSettings;
}

<div id="dialog-confirm-action" class="modal mrgn-tp-20">
    <div class="modal-dialog whiteBackground">
        <div id="confirmActionModalContent" class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" id="modalXButton_ConfirmAction" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title">@Model.DialogTitle</h2>
            </div>
            <div class="modal-body">
                <p>@Model.DialogBodyText</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCloseButton_ConfirmAction" class="btn btn-default modalCloseButton" data-dismiss="modal">@Labels.Close</button>
                <button type="button" id="modalSaveButton" class="btn btn-primary">@Model.SaveActionText</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">

            $(function () {
                $("#dialog-confirm-action").appendTo("body");
            });

            var targetUrl;
            var rowToModify;
            var rootTableID;

            //Had to do this so that click event works on dynamically created buttons
            //Had to add the consent checks here to prevent the confirm action modal showing before the consent modal...
            $(document).on('click', '.deleteButton', function (e) {
                e.preventDefault();

                validateConsent($(this));
            });
            $(document).on('click', '.closeButton', function (e) {
                e.preventDefault();

                validateConsent($(this));
            });
            $(document).on('click', '.undoButton', function (e) {
                e.preventDefault();

                validateConsent($(this));
            });

            function validateConsent($triggeringObject) {
                if ($("#hifis-client-profile").length) {
                    var isConsentEnforced = '@appSettings.EnforceConsent()'.toLowerCase() === "true";
                    var clientHasConsent = $("#HasActiveConsent").val().toLowerCase() === "true";
                    if (isConsentEnforced && !clientHasConsent) {
                        var clientPersonID = $("#PersonID").val();
                        var clientFullName = $("#ClientFullName").val();
                        var clientID = $("#HiddenClientID").val();
                        var aproxAge = $("#AproximativeAge").val();
                        var returnPath = window.location.href;
                        window.location.href = '@Url.Action("ConsentRedirect", "Master")' + "?id=" + clientID
                            + "&age=" + aproxAge
                            + "&callback=" + returnPath
                            + "&returnPath=" + returnPath
                            + "&personID=" + clientPersonID
                            + "&fullName=" + clientFullName;
                    } else {
                        showConfirmModal($triggeringObject);
                    }
                } else {
                    showConfirmModal($triggeringObject);
                }
            }

            function showConfirmModal($triggeringObject) {
                targetUrl = $triggeringObject.attr("href");
                rowToModify = $triggeringObject.closest("tr");
                rootTableID = $triggeringObject.closest("table").attr('id');

                $("#dialog-confirm-action").modal('toggle');
            }

            $(document).on('click', "#modalSaveButton", function () {

                @Html.Partial("_Ajax", new AjaxViewModel()
                {
                    Url = "targetUrl",
                    OnSuccess = "updateTable(); $(this).remove();",
                    OnFailure = "displayNotification(\"error\", \"\", \"<p>" + Model.FailureText + "</p>\");",
                    OnComplete = " $('#dialog-confirm-action').modal('toggle');",
                    Type="POST"
                });
            });

            function updateTable() {
                var rootTable = rowToModify.parents('table').DataTable();

                if ($('#' + rootTableID).dataTable().fnSettings().ajax != null) {
                    rootTable.ajax.reload(function () {
                        if (window.location.href.indexOf("/Health/Dispensing") != -1) {
                            reRunFilters();
                        }
                    });
                }
                
                if (window.location.href.indexOf("/Messages/List") != -1) {
                    CheckForNewMessages();
                }

                displayNotification('success', '', "<p>@Model.SuccessText</p>");
            }
        </script>
);
}