@{
    ViewBag.Title = "dsadasfsd";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script type="text/javascript" src="@Url.Content("~/Content/WET/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jquery-ui.custom/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <link type="text/css" href="@Url.Content("~/Content/jquery-ui.custom/css/redmond/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" />
    @Html.Partial("LayoutParts/CustomScriptsCSS/_Buttons")

    <style media="print" type="text/css">
        .printButton
        {
            display:none;
        }
    </style>
    <style type="text/css">
        .printButton
        {
            font-family: Verdana,Arial,Helvetica,sans-serif;
            font-size: 0.9em !important;
            font-weight: normal;
        }
    </style>                                                                                                      
</head>

<p><a href="javascript:window.print()" class="printButton noprint">@Labels.Print</a></p>
<div>
@RenderBody()
</div>
<p><a href="javascript:window.print()" class="printButton noprint">@Labels.Print</a></p>

@Html.RenderScripts()