@model PeopleVitalsReadOnlyViewModel

<div>
    @Html.HifisEditorFor(model => model.FirstName)
</div>

<div>
    @Html.HifisEditorFor(model => model.LastName)
</div>

<div>
    @Html.HifisEditorFor(model => model.GenderID, CachedTableTypes.HIFIS_GenderTypes)
</div>

<div>
    @Html.HifisEditorFor(model => model.FirstName)
</div>

<div>
    @Html.HifisEditorFor(model => model.FirstName)
</div>
