@model VATIntakeViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_DisplayEvaluation + " " + Model.IntakeTypeName + " " + Labels.Intake;

    ViewBag.LayoutView = LayoutPage.Client;
    
    ViewBag.IsDisplay = true;
}

@Html.Partial("_ValidationSummaryOuter")

@Html.HiddenFor(model => model.PrimaryClientID)

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "VAT", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "VATIntakeForm" }))
        {
            @Html.AntiForgeryToken()
           <div id="Intake_FormPortion">
                @Html.Partial("_VATIntake", Model)
            </div>
            
            <div class="row VATScoreCard" id="ScoreSummary">
                <div class="col-md-12">

                    <h2>@Labels.ScoreCard</h2>

                    <div class="table-responsive">
                        <table class="wb-tables table table-striped table-hover"data-wb-tables='{ "info": false, "searching": false, "paging": false, "ordering": false }'>
                            <thead style="display:none;">
                                <tr>
                                    <th>Header</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.SurvivalSkills</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.SSScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.BasicNeeds</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.BNScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.IndicatedMortalityRisks</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.IMRScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.MedicalRisks</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.MRScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.OrganizationOrientation</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.OOScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.MentalHealth</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.MHScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.SubstanceUse</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.SUScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.Communication</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.CScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.SocialBehaviors</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.SBScore)</span></td>
                                </tr>
                                <tr>
                                    <td><span class="ScoreCardHeader">@Labels.Homelessness</span></td>
                                    <td><span class="ScoreCardScore">@(Model.ScoreSummary.HScore)</span></td>
                                </tr>
                                <tr style="height: 80px;">
                                    <td><span style="font-weight:bold; font-size:1.7em;" class="ScoreCardHeader">@Labels.TotalScore</span></td>
                                    <td><span style="font-weight:bolder; font-size:2.2em;" class="ScoreCardScore">@(Model.ScoreSummary.TotalScore)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            
                </div>
            </div>

            <div id="Question_FormPortion">
                @Html.Partial("_VATQuestionList", Model)       
            </div>       
            
            <div class="form-group">
	            <div class="col-sm-10">
                    @if (RightsHelper.HasRight(UserRights.VAT_Edit))
                    {
                        @Html.ActionLink(Labels.Edit, "Edit", "VAT", new { intakeTypeID = Model.IntakeTypeID, intakeID = Model.IntakeID, clientID = Model.PrimaryClientID }, new { @class = "editButton no-print", alt=Labels.Edit, aria_label = Labels.Edit, @role = "button" })
                    }
                    @Html.ActionLink(Labels.Cancel, "ClientList", "VAT", new { id = Model.PrimaryClientID }, new { @class = "cancelButton no-print", alt = Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
	            </div>
            </div>              
        }
    </div>
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">

                //
                // When document is ready, get the client details
                //

                $(function () {
                    getROVitals($("#PrimaryClientID").val());
                })

        </script>
    );
}