
<section id="Modal_NewItem" class="modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h2 class="modal-title">@Labels.AddNewFoodBankItems</h2>
	</header>
	<div class="modal-body">
        <form id="newItemForm" class="form-horizontal">
		    @Html.Partial("_FoodBankItemDetails", new FoodBankItemDetailViewModel())
        </form>
	</div>

    <div class="modal-footer" style="background-color: white;">
        <button id="newItemSaveBtn" class="saveButton">@Labels.Save</button>
		<button id="newItemCloseBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Close</button>
	</div>
</section>

<script> 

    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('.modal-body');    

    $(function () { $("#newItemForm").hifisValidation(); });

    $("#newItemSaveBtn").click(function () {

        if ($("#newItemForm").valid()) {

            var btn = $(this);
            btn.attr("disabled", true); //Disable the button so multiple request don't go through

            $.ajax({

                url: "@Url.Content("~/FoodBanks/NewFoodBankItemDetails")",
                type: "POST",
                data: $("#newItemForm").serialize()

            }).done(function (data) {
                
                btn.attr("disabled", false); //Enable the button incase there was an error

                if (!data.Success && data.ValidationMessages[0] === "duplicate") { //Checking for a duplicate product code error
                    displayNotification("error", "", "@Labels.msgProductExists"); 
                } else{
                    defaultNotify(data.Success);
                    if(data.Success){
                    $('#foodBankItemsList').DataTable().ajax.reload(); // Re-load the datatable
                    $("#newItemCloseBtn").click(); //Close the modal window on success
                    defaultNotify(data.Success); //display the default error or success message
                } else {
                    var position = $.inArray("msgProductExists", data.ValidationMessages);
                    if (position > -1) {
                        data.ValidationMessages[position] = "<p>@Labels.ProductCodeExists</p>";
                    }
                    var i = 0;
                    while (i < data.ValidationMessages.length){
                        displayNotification('alert', '', data.ValidationMessages[i]);
                        i++;
                    }
                }
                } 
            });
        }
    });
    
</script>


