@model PitQuestionViewModel
@{
    ViewBag.Title = "Create Template Question";

    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

<h1>HELLO!!!</h1>

@Html.Partial("_ValidationSummaryOuter")

<div>
    <div class="panel panel-default mrgn-tp-md" >
        <div class="panel-heading" role="tab" id="NewQuestionHeader">
            <h4>
                <a data-toggle="collapse" class="accordionStyle" data-parent="#accordion" href="#NewQuestionPanel" aria-expanded="true" aria-controls="NewQuestionPanel">
                    @Labels.CreateQuestion
                    <span class="caret pull-right mrgn-tp-sm"></span>
                </a>
            </h4>
        </div>
        <div id="NewQuestionPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="NewQuestionHeader">
            <div class="panel-body">
                @using (Html.BeginForm("CreatePitTemplateQuestion","PitEvents", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div>
                        @Html.Partial("_EditPitQuestion", Model)
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" >
                            <button type="submit" class="addButton">@Labels.AddQuestion</button>
                            <button id="saveQuestionButton" type="submit" class="addButton">@Labels.PitSaveQuestionAndFinishTemplate</button>
                            @Html.ActionLink(@Labels.PiDiscardQuestionAndFinishTemplate, "EditPitTemplate", new { pitTemplateID = Model.PitTemplateID }, new { @class = "saveButton", alt=Labels.PiDiscardQuestionAndFinishTemplate, aria_label = Labels.PiDiscardQuestionAndFinishTemplate, @role = "button" })
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

    <h4 class="mrgn-tp-0">@Labels.Questions</h4>

    @*@Html.Partial("_AllPitTemplateQuestions", Model.Questions)*@
    
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
             $("#saveQuestionButton").click(function (e) {
                 //document.getElementById('SaveQuestion').value = true;
                 $("#SaveQuestion").val("true");
             });
        </script>
);
}