@model PitQuestionViewModel
@{
	ViewBag.ViewTitle = Labels.EditQuestion;
	
	ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>    
	@using (Html.BeginForm("EditPitTemplateQuestion", "PitEvents", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.Partial("_BaseHiddenFor", (BaseViewModel)Model)

		<div>
			@Html.Partial("_EditPitQuestion", Model)  
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="saveButton  ">@Labels.Save</button>
				@Html.ActionLink(Labels.Cancel, "EditPitTemplate", new { PitTemplateID = Model.PitTemplateID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label=Labels.Cancel, @role = "button" })
			</div>
		</div>
	}
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>