@model ClientVitalsViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_MyProfileTitle;

    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

@Html.Hidden("FormSubmitted", "false")
<div class="row">

    <div class="col-md-8">
        @using (Html.BeginForm("NewVitals", "ClientTombstone", FormMethod.Post, new { id = "ClientVitalsIntakeForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.Partial("_ClientVitalsNew", Model)

            <div class="row">
                <div class="btn-group">
                    <div class="col-sm-12">
                        <button type="submit" class="saveButton" name="submitBtn" value="default">@Labels.Save</button>
                        @if (RightsHelper.HasRight(UserRights.Stays_BookIn))
                        {
                            <button type="submit" class="saveButton mrgn-lft-xs" name="submitBtn" value="bookIn">@Labels.SaveAndGoToBookIn</button>
                        }
                        @if (RightsHelper.HasRight(UserRights.Client_Family_Add))
                        {
                            <button type="submit" class="saveButton start-family mrgn-lft-xs" name="submitBtn" value="family">@Labels.SaveAndStartFamily</button>
                        }
                        @Html.ActionLink(Labels.Cancel, "ClientSearchProxy", "ClientTombstone", new { }, new { @class = "cancelButton mrgn-lft-xs", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button"  })
                    </div>
                </div>
            </div>

        }
    </div>

    <div style="overflow:hidden; height:583px; border-left: solid 1px #d3d3d3; border-bottom:solid 1px #d3d3d3;">

        <div class="col-md-4" style="overflow:scroll; min-height:600px; max-height:600px; width:104%;">

            <div id="loaderDiv" style="margin-left:45%; display:none;">
                <img src="@Url.Content("~/Content/images/Loaders/loader-50.gif")" class="loading_circle" alt="loading" />
                <p>
                    @Labels.Loading
                </p>
            </div>

            <div id="NoResultsDiv" class="row">
                <section class="col-md-12">
                    <div class="well well-sm mrgn-tp-sm">
                        <h5 class="mrgn-tp-0">
                            @Labels.CouldNotLoadClientProfiles
                        </h5>
                        @Labels.NoClientsMatchYourSearch
                    </div>
                </section>
            </div>

            <div id="innerListWrapper">

            </div>
        </div>
    </div>

</div>



@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
@<script type="text/javascript">

		     $(document).on("click", ".clientInfoDiv", function (e) {
		         var personalID = $(this).attr("data-personalID");

		         window.location.href = "@Url.Content("~/ClientTombstone/DisplayVitals/")" + personalID;
		     });


		     $(".attachSearchEvent").change(function (e) {
		         var LastName   = $("#LastName").val();
		         var FirstName = $("#FirstName").val();
		         var AKA1 = $("#Aka1").val();
		         var AKA2 = $("#Aka2").val();

		         var Query = " ";

		         if (LastName != "") {
		             Query = LastName;
		         }
		         if (FirstName != "") {
		             Query += " " + FirstName;
		         }

		         if (AKA1 != "") {
		             Query += " " + AKA1;
		         }
		         if (AKA2 != "") {
		             Query += " " + AKA2;
		         }

		         SearchForClients(Query);
		     });

		     function updateListOfClients(SearchResult) {
		         var finalHtmlClientList = "";

		         if (SearchResult !== undefined) {
		             if (SearchResult != "" && SearchResult != null || SearchResult.length > 0) {
		                 if (SearchResult.length < 6) {
		                     for (var i = 0; i < SearchResult.length; i++) {
		                         finalHtmlClientList += buildClientProfileButton(SearchResult[i]);
		                     }
		                 }
		                 else
		                 {
		                     for (var i = 0; i < SearchResult.length; i++) {
		                         finalHtmlClientList += buildMiniClientProfileButton(SearchResult[i]);
		                     }
		                 }
		             }
		         }

		         $('#innerListWrapper').html(finalHtmlClientList).show("slow");

		         $('[data-toggle="popover"]').popover({ html: true, container: "body" });
		     }

		     function SearchForClients(Query) {
		        var Results;

                @Html.Partial("_Ajax", new AjaxViewModel()
                {
                    Url         = "'" + Url.Content("~/ClientTombstone/AjaxGetClientList") + "'",
                    Data        = "{ searchString:Query, resultsToReturn:10, returnFullDetails:true }",
                    BeforeSend  = "$('#loaderDiv').show('slow'); $('#innerListWrapper').hide('slow'); $('#NoResultsDiv').hide('slow');", @* remove non-selected options *@
                    OnSuccess   = "updateListOfClients(data); Results = data;",
                    OnComplete  = "$('#loaderDiv').hide('slow'); if(Results === undefined || Results.length <= 0){ $('#NoResultsDiv').show('slow'); }",
                    OnFailure   = "$('#NoResultsDiv').show('slow');",
                    LoaderGif   = false
                })
		     }

		     function FormatInformationValue(PossibleValue) {
		         var ReturnedValue = PossibleValue;

		         if (PossibleValue === undefined || PossibleValue === null || PossibleValue === "") {
		             ReturnedValue = "@Labels.NA";
		         }

		         return ReturnedValue;
		     }

		     function buildClientProfileButton(ClientDetails) {

		         var ProfilePicURL;

		         if (ClientDetails.HasProfilePic) {
		             ProfilePicURL = "@Url.Content("~/Documents/GetClientPhotoThumbnail/")" + ClientDetails.ClientID_S;
		         } else {
		             switch(ClientDetails.GenderID) {
		                 case 1: //Male
		                     ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
		                     break;
		                 case 2: //Female
		                     ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
		                     break;
		                 default: //Everything Else
		                     ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
		             }
		         }

		         var AdditionalDetails;

		         AdditionalDetails = "<strong>@Labels.Aka1: </strong>" + FormatInformationValue(ClientDetails.Aka1);
		         AdditionalDetails += "<br /><strong>@Labels.Aka2: </strong>" + FormatInformationValue(ClientDetails.Aka2);
		         AdditionalDetails += "<br /><strong>@Labels.ApproximateAge: </strong>" + FormatInformationValue(ClientDetails.AproximativeAge);
		         AdditionalDetails += "<br /><strong>@Labels.FileNumber: </strong>" + FormatInformationValue(ClientDetails.FileNumber);

		         AdditionalDetails += "<br /><strong>@Labels.VeteranStatus: </strong>" + FormatInformationValue(ClientDetails.VeteranState);
		         AdditionalDetails += "<br /><strong>@Labels.AboriginalStatus: </strong>" + FormatInformationValue(ClientDetails.AboriginalIndicator);

		         if (ClientDetails.StatusID != 1) {

		             var archivedAccess = "@ViewBag.ArchivedAccess.ToString().ToLower()";
		             var deceasedAccess = "@ViewBag.DeceasedAccess.ToString().ToLower()";

		             if((ClientDetails.StatusID == 3 && archivedAccess == "true") || (ClientDetails.StatusID == 2 && deceasedAccess == "true"))
		             {
		                 var ClientProfileButton = '<section class="alert alert-danger"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" class="clientInfoDiv" style="cursor:pointer;" data-personalID="' + ClientDetails.ClientID_S + '">';
		             }
		             else
		             {
		                 var ClientProfileButton = '<section class="alert alert-danger"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" data-personalID="' + ClientDetails.ClientID_S + '">';
		             }
		         }
		         else
		         {
		             var ClientProfileButton = '<section class="alert alert-success"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" class="clientInfoDiv" style="cursor:pointer;" data-personalID="' + ClientDetails.ClientID_S + '">';
		         }

		             ClientProfileButton = ClientProfileButton +
                                                '<div class="row">' +
                                                    '<div class="col-md-3">' +
                                                        '<img class="img-rounded img-responsive hght-strct-50" alt="' + ClientDetails.FullName + '" src="' + ProfilePicURL + '" title="' + ClientDetails.FullName + '" />' +
                                                    '</div>' +
                                                    '<div class="col-md-9">' +
                                                        '<h3>' + ClientDetails.FullName + '</h3>' + '<span class="float-right reduce_top_margin_20">' + ClientDetails.Status + '</span>' +
                                                    '</div>' +
                                                '</div>' +
                                                '<div class="row">' +
                                                    '<div class="col-md-2">' +
                                                        '<strong>@Labels.DOB_abb: </strong>' +
                                                    '</div>' +
                                                    '<div class="col-md-10">' +
                                                        ClientDetails.DOB_S +
                                                    '</div>' +
                                                '</div>' +
                                                '<div class="row">' +
                                                    '<div class="col-md-2">' +
                                                        '<strong>@Labels.Gender: </strong> ' +
                                                    '</div>' +
                                                    '<div class="col-md-10">' +
                                                        ClientDetails.Gender +
                                                    '</div>' +
                                                '</div>' +
                                            '</div></section>';
		            return ClientProfileButton;
		     }

		     function buildMiniClientProfileButton(ClientDetails) {

		         var ProfilePicURL;

		         if (ClientDetails.HasProfilePic) {
		             ProfilePicURL = "@Url.Content("~/Documents/GetClientPhotoThumbnail/")" + ClientDetails.ClientID_S;
		         } else {
		             switch (ClientDetails.GenderID) {
		                 case 1: //Male
		                     ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
		                     break;
                         case 2: //Female
                             ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
		                     break;
                         default: //Everything Else
                             ProfilePicURL = "@Url.Content("~/Content/images/Thumbnails/DefaultPicture.jpg")";
                     }
                 }

                 var AdditionalDetails;

                 AdditionalDetails = "<strong>@Labels.Gender: </strong>" + FormatInformationValue(ClientDetails.Gender);
		         AdditionalDetails += "<br /><strong>@Labels.Aka1: </strong>" + FormatInformationValue(ClientDetails.Aka1);
		         AdditionalDetails += "<br /><strong>@Labels.Aka2: </strong>" + FormatInformationValue(ClientDetails.Aka2);
		         AdditionalDetails += "<br /><strong>@Labels.DOB_abb: </strong>" + FormatInformationValue(ClientDetails.DOB_S);
                 AdditionalDetails += "<br /><strong>@Labels.ApproximateAge: </strong>" + FormatInformationValue(ClientDetails.AproximativeAge);
                 AdditionalDetails += "<br /><strong>@Labels.FileNumber: </strong>" + FormatInformationValue(ClientDetails.FileNumber);

                 AdditionalDetails += "<br /><strong>@Labels.VeteranStatus: </strong>" + FormatInformationValue(ClientDetails.VeteranState);
                 AdditionalDetails += "<br /><strong>@Labels.AboriginalStatus: </strong>" + FormatInformationValue(ClientDetails.AboriginalIndicator);

                 if (ClientDetails.StatusID != 1) {

                     var archivedAccess = "@ViewBag.ArchivedAccess.ToString().ToLower()";
		             var deceasedAccess = "@ViewBag.DeceasedAccess.ToString().ToLower()";

		             if ((ClientDetails.StatusID == 3 && archivedAccess == "true") || (ClientDetails.StatusID == 2 && deceasedAccess == "true")) {
		                 var ClientProfileButton = '<section class="alert alert-danger"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" class="clientInfoDiv" style="cursor:pointer;" data-personalID="' + ClientDetails.ClientID_S + '">';
		             }
		             else {
		                 var ClientProfileButton = '<section class="alert alert-danger"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" data-personalID="' + ClientDetails.ClientID_S + '">';
		             }
                 }
                 else {
                     var ClientProfileButton = '<section class="alert alert-success"><div data-toggle="popover" data-trigger="hover" data-placement="left" data-content="' + AdditionalDetails + '" title="@Labels.AdditionalDetails" class="clientInfoDiv" style="cursor:pointer;" data-personalID="' + ClientDetails.ClientID_S + '">';
		         }

                 ClientProfileButton = ClientProfileButton +
                                            '<div class="row">' +
                                                //'<div class="col-md-3">' +
                                                //    '<img class="img-rounded img-responsive hght-strct-50" alt="' + ClientDetails.FullName + '" src="' + ProfilePicURL + '" title="' + ClientDetails.FullName + '" />' +
                                                //'</div>' +
                                                '<div class="col-md-12">' +
                                                    '<h4>' + ClientDetails.FullName + '</h4>' + '<span class="float-right reduce_top_margin_20">' + ClientDetails.Status + '</span>' +
                                                '</div>' +
                                            '</div>' +
                                            '</section>';
                     return ClientProfileButton;
			}


</script>);
}
