@model FamilyFindViewModel           
@{
    ViewBag.ViewTitle = Labels.viewTitle_FindFamily;

    ViewBag.LayoutView = LayoutPage.Client;
}

@Html.Partial("_ValidationSummaryOuter")

<div class=" form-color-white ">
    @using (Html.BeginForm("MoveGroupMembership", "ClientTombstone", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Partial("_ClientVitalsRO_ext", new ClientVitalsReadOnlyWrapperViewModel(Model.ReadOnlyVitals))
    
        @Html.HiddenFor(model => Model.ClientID) 
        @Html.HiddenFor(model => Model.CurrentClientID)
        @Html.HiddenFor(model => Model.GroupID)
        @Html.HiddenFor(model => Model.FamilyHeadID) 
    
        <div class="form-group">
	        <div class="col-sm-10">
		        @Html.TextBoxFor(model => model.SearchString, new { @class="form-control align-left", placeholder= Labels.SearchforFamilyHead })
                &nbsp;
                <input id="btnSave" type="submit" value="@Labels.LayoutSearchLabel"/>
	        </div>
        </div>
    <div>
        <table class="wb-tables table table-striped table-hover" id="resultset">
            <thead>
                <tr>
                    <th>@Labels.FamilyName</th>
                    <th>@Labels.FamilyID</th>
                    <th>@Labels.DOB</th>
                    <th>@Labels.Gender</th>
                    <th>@Labels.Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ResultList != null && Model.ResultList.Count() > 0)
                {
                    for (int i = 0; i < Model.ResultList.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => model.ResultList[i].FullName)</td>
                            <td>@Html.DisplayFor(model => model.ResultList[i].FamilyCode)</td>
                            <td>@Html.DisplayFor(model => Model.ResultList[i].DOB)</td>
                            <td>@Html.DisplayTextFor(model => Model.ResultList[i].Gender)</td>
                            <td>
                                <div class="align-center">
                                    @Html.ActionLink(Labels.JoinFamily, "GetNewFamilyMember", "ClientTombstone", new { pGroupID = Model.ResultList[i].GroupID, pFamilyHeadID = Model.ResultList[i].PersonID, pCurrentClientID = Model.CurrentClientID, ClientIDToAdd = Model.ReadOnlyVitals.ClientID }, new { @class = "noText forwardButton", alt=Labels.JoinFamily, aria_label = Labels.JoinFamily, @role = "button" })
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-align-center">@Labels.msgNoDataAvailableInTable</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }     
       
    <div class="mrgn-tp-md">
        @Html.ActionLink(Labels.Cancel, "ClientFamily", "ClientTombstone", new { id = Model.CurrentClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
    </div>
</div>
