@model ClientCarViewModel
@{ 
    ViewBag.LayoutView = LayoutPage.Client;
    
    ViewBag.ViewTitle = Labels.viewTitle_NewClientCar;       
}

 @Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("NewVehicle", "ClientTombstone", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Partial("_Vehicle");
           
        <div class="form-group">
	        <div class="col-sm-offset-3 col-sm-9">
		        <button type="submit" class="saveButton  " value="@Labels.Save">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "VehicleList", "ClientTombstone", new { id = Model.ClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
	        </div>
        </div> 
    }
</div>