@model ProgramFixedCostViewModel
@{
    ViewBag.ViewTitle = Labels.EditFixedCosts;

    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@using (Html.BeginForm("EditFixedCost", "Programs", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_BaseHiddenFor", (BaseViewModel)Model)

    @Html.Partial("_EditFixedCost")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="saveButton  ">@Labels.Save</button>
            @Html.ActionLink(Labels.Cancel, "Display", "Programs", new { @programID = Model.ProgramID }, new { @class = "cancelButton  ", title = Labels.Cancel, alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
        </div>
    </div>

}

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>