@model TurnawayViewModel          
@{  
    ViewBag.ViewTitle = Labels.viewTitle_EditClientTurnAway;
    
    ViewBag.LayoutView = LayoutPage.Client;
}

@Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("Edit", "Turnaways", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PrimaryClientID)    
        @Html.HiddenFor(model => model.TurnawayID)
        
        @Html.Partial("_TurnAway")
        
        <div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="submit" class="saveButton">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "ClientList", "Turnaways", new { id = Model.PrimaryClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
			</div>
		</div>                           
    }
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>