@model TurnawayViewModel          
@{  
    ViewBag.ViewTitle = Labels.viewTitle_NewAnonymousTurnAway;
    
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("NewAnonymous", "Turnaways", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        if (ViewBag.EnabledPresumedIndigenousIndicator == true)
        {
            <div>
                @Html.HifisEditorFor(model => model.PresumedAboriginalYN, "YesNo")
            </div>
        }
        if (ViewBag.EnabledObservedDisabilityIndicator == true)
        {
            <div>
                @Html.HifisEditorFor(model => model.ObservedDisability, "YesNo")
            </div>
        }
        <div>
            @Html.HifisEditorFor(model => model.AgeCategoryTypeID, CachedTableTypes.HIFIS_AgeCategoryTypes)
        </div>
        <div>
            @Html.HifisEditorFor(model => model.GenderTypeID, CachedTableTypes.HIFIS_GenderTypes)
        </div>
        
        <div class="clearfix"></div>
        
        @Html.Partial("_Turnaway")
        
        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="saveButton">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "List", "Turnaways", null, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
			</div>
		</div>                        
    }
</div>


