@model LiabilityViewModel
@{
    var appSettings = (HIFIS.CONTRACTS.WCFContracts.DataContracts.ApplicationSettings)ViewBag.AppSettings;
}
<section id="Modal_DisplayLiability" class="modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">@Labels.viewTitle_DisplayLiability</h2>
    </header>

    <div class="modal-body">
        <div class="displayView">

            <div class="row">
                @Html.HifisLabelFor(model => model.LiabilityTypeID, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="LiabilityTypeID" name="LiabilityTypeID"
                           value="@(WebHelper.GetTextFromCache(CachedTableTypes.HIFIS_LiabilityTypes, Culture, Model.LiabilityTypeID))"
                           readonly />
                </div>
            </div>

            <div class="form-input-prepend form-input-append row">
                @Html.HifisLabelFor(model => model.LiabilityAmount, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="LiabilityAmount" name="LiabilityAmount"
                           value="@Html.DisplayFor(model => model.LiabilityAmount, new { @class = "money" })"
                           readonly />
                </div>
            </div>

            <div class="row">
                @Html.HifisLabelFor(model => model.CountryID, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="CountryID" name="CountryID"
                           value="@(WebHelper.GetTextFromCache(CachedTableTypes.HIFIS_CountryTypes, Culture, Model.CountryID))"
                           readonly />
                </div>
            </div>

            @if (Model.ProvinceID != null)
            {
                <div class="row">
                    @Html.HifisLabelFor(model => model.ProvinceID, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        <input type="text" class="inputTextOnly" id="ProvinceID" name="ProvinceID"
                               value="@(WebHelper.GetTextFromCache(CachedTableTypes.HIFIS_ProvinceTypes, Culture, Model.ProvinceID))"
                               readonly />
                    </div>
                </div>
            }

            <div class="row">
                @Html.HifisLabelFor(model => model.LiabilityDateStart, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="LiabilityDateStart" name="LiabilityDateStart"
                           value="@Html.DisplayFor(model => model.LiabilityDateStart)" readonly />
                </div>
            </div>

            <div class="row">
                @Html.HifisLabelFor(model => model.LiabilityDateEnd, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="LiabilityDateEnd" name="LiabilityDateEnd"
                           value="@Html.DisplayFor(model => model.LiabilityDateEnd)" readonly />
                </div>
            </div>

            <div class="row">
                @Html.HifisLabelFor(model => model.LiabilityDescription, new { @class = "col-xs-4 control-label" })
                <div class="col-xs-8">
                    <input type="text" class="inputTextOnly" id="LiabilityDescription" name="LiabilityDescription"
                           value="@Html.DisplayFor(model => model.LiabilityDescription)" readonly />
                </div>
            </div>

            @if (appSettings.EnableSharing())
            {
                <div class="row">
                    @Html.HifisLabelFor(model => model.ShareYN, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        <input type="text" class="inputTextOnly" id="ShareYN" name="ShareYN"
                               value="@Html.Partial("DisplayViewTemplates/_YesNoDisplay", Model.ShareYN).ToString().Replace(" ", "").Replace(System.Environment.NewLine, "")"
                               readonly />
                    </div>
                </div>

                <div class="row">
                    @Html.HifisLabelFor(model => model.EditableYN, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        <input type="text" class="inputTextOnly" id="EditableYN" name="EditableYN"
                               value="@Html.Partial("DisplayViewTemplates/_YesNoDisplay", Model.EditableYN).ToString().Replace(" ", "").Replace(System.Environment.NewLine, "")"
                               readonly />
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="modal-footer" style="background-color: white;">
        <div class="col-xs-12">
            <button id="newPlacementFollowUpCloseBtn" class="btn btn-primary popup-modal-dismiss cancelButton" type="button">@Labels.Close</button>
        </div>
    </div>
</section>

<script>


    //Get everything to display correctly
    init_hifis();
    autoWidthBoot('#Modal_DisplayLiability');
    @*if(@Model.ProvinceID == null)
        $("#province").hide();
    else
        $("#province").show();*@

    //$(function () { $("#excelParamForm").hifisValidation(); });

    //$("#excelGetBtn").click(function () {

    //    if ($("#excelParamForm").valid()) {
    //        $("#excelParamForm").submit();
    //    }
    //});

</script>


