@model LiabilityViewModel           
@{
    ViewBag.ViewTitle = Labels.viewTitle_EditLiability;
    ViewBag.LayoutView = LayoutPage.Client;
}

@Html.Partial("_ValidationSummaryOuter")

<div class="row">
    @using (Html.BeginForm("EditLiability", "Financials", new { id = Model.ClientID, liabilityOrAssetID = Model.LiabilityOrAssetID }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            @Html.Partial("_Liability")
        </div>
        
        <div class="row">
            <div class="btn-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="saveButton">@Labels.Save</button>
                    @Html.ActionLink(Labels.Cancel, "Display", "Financials", new { id = Model.ClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
                </div>
            </div>
        </div>    
    }
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>