@model ConflictViewModel           
@{
    ViewBag.ViewTitle = Labels.viewTitle_EditConflict;
    
    ViewBag.LayoutView = LayoutPage.Client;
}

@Html.Partial("_ValidationSummaryOuter")

    <div>
        @using (Html.BeginForm("Edit", "Conflicts", new { id = Model.FirstClientID, conflictID = Model.ConflictID }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_Conflict")

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="saveButton  ">@Labels.Save</button>
                    @Html.ActionLink(Labels.Cancel, "ClientList", "Conflicts", new { id = Model.FirstClientID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
                </div>
            </div>

        }
    </div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>