@model RightViewModel

@Html.HiddenFor(model => model.RightsOrganizationID)

@Html.Button("name", Labels.SelectaRightsTemplate, HtmlButtonType.Button, null, new { id = "LinkButton", @class = "chainButton", style = "margin-bottom:15px; margin-top:15px;" })

<div id="RightsTreeInnerWrapper">
				    
    <div class="row">
        <div class="col-sm-12">
            @Html.TextBox("wetBoewSearchBox", "", new { placeholder= Labels.SearchTree })
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">

            @if (ViewBag.HasTemplate != null && (bool)ViewBag.HasTemplate)
            {
                <text><div id="ajaxTree" class="hifis-tree" data-wet-boew='{"bDisableAllNodes": @(RightsHelper.HasRight(UserRights.Users_Rights_Edit) ? "false" : "true"), "bCheckBoxes": true, "bDisplayIcons": true, "bDisableAllNodes": true, "bCallBackFunction": "wetTreeCheckEvent" }'></text>
            }
            else
            {
                <text><div id="ajaxTree" class="hifis-tree" data-wet-boew='{"bDisableAllNodes": @(RightsHelper.HasRight(UserRights.Users_Rights_Edit) ? "false" : "true"), "bCheckBoxes": true, "bCallBackFunction": "wetTreeCheckEvent", "bDisplayIcons": true }'></text> 
            }            
                <ul>
                    @Html.Partial("_RightTreeItem", Model)
                </ul>
            </div> 
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    var to = false;

    $('#wetBoewSearchBox').keyup(function () {
        if (to) {
            clearTimeout(to);
        }
        to = setTimeout(function () {
            var v = $('#wetBoewSearchBox').val();
            $('div#RightsTreeWrapper div.hifis-tree').jstree(true).search(v);
        }, 500);
    });

    $(function () { 
        $('#LinkButton').removeClass("hide");
    });

    init_hifis();

</script>

