@model BedViewModel
@{
    ViewBag.ViewTitle = Labels.EditBed + ": " + Model.Name;
    
    if (Model.OrganizationID != null)
    {
        ViewBag.LayoutView = LayoutPage.SecNav;
    }
    else
    {
        ViewBag.LayoutView = LayoutPage.ContentOnly;
    } 
}

@Html.Partial("_ValidationSummaryOuter")

    <div class="span-6">
        @if (RightsHelper.HasRight(UserRights.ServiceProviders_Rooms_Beds_Edit))
        {
            using (Html.BeginForm("EditShelterBed", "Organization", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ShelterBeds", Model)

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="saveButton">@Labels.Save</button>
                        @Html.ActionLink(Labels.Cancel, "ShelterBedsList", "Organization", new { roomid = Model.RoomID, roomName = Model.RoomName, shelterID = Model.OrganizationID, shelterName = Model.ShelterName }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
                    </div>
                </div>
            }
        }
    </div>