@model CustomTableFieldViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_EditCustomTableField;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("EditCustomTableField", "CustomTables", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CustomTableField", Model)

        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="saveButton" name="submitBtn" value="save">@Labels.Save</button>
                <button type="submit" class="saveButton" name="submitBtn" value="goToLayout">@Labels.SaveAndGoToLayout</button>
                @Html.ActionLink(Labels.DiscardAndGoToLayout, "CustomTableLayout", new { id = Model.CustomTableID }, new { @class = "forwardButton", alt=Labels.DiscardAndGoToLayout, aria_label = Labels.DiscardAndGoToLayout, @role = "button" })
                @Html.ActionLink(Labels.Cancel, "CustomTableFieldsList", new { id = Model.CustomTableID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
			</div>
		</div>         
    }
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>