@model CustomTableViewModel
@Html.Partial("_ValidationSummaryOuter")
@{
    ViewBag.ViewTitle = Labels.viewTitle_EditCustomTable;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

<div>
    @using (Html.BeginForm("EditCustomTable", "CustomTables", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CustomTable", Model)
        @Html.Partial("_BaseHiddenFor", (BaseViewModel)Model)

        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
		        <button type="submit" class="saveButton">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "CustomTablesList", null, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
	        </div>
        </div> 
        
    }
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>
