@model CustomTableFieldDropdownViewModel
@{
    ViewBag.ViewTitle = Labels.viewTitle_NewCustomTableFieldDropdown;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>
    @using (Html.BeginForm("NewCustomTableFieldDropdown", "CustomTables", new { id = Model.CustomFieldID, customTableID = Model.CustomTableID }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomTableID)

        @Html.Partial("_CustomTableFieldDropdown", Model)

        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
                @Html.ActionLink(Labels.NewField, "NewCustomTableField", new { id = Model.CustomTableID }, new { @class = "addButton", alt=Labels.NewField, aria_label = Labels.NewField, @role = "button" })
                @Html.ActionLink(Labels.GoToLayout, "CustomTableLayout", new { id = Model.CustomTableID }, new { @class = "forwardButton", alt=Labels.GoToLayout, aria_label = Labels.GoToLayout, @role = "button" })
                @Html.ActionLink(Labels.Finish, "CustomTableFieldDropdownsList", new { id = Model.CustomFieldID, customTableID = Model.CustomTableID }, new { @class = "saveButton", alt=Labels.Finish, aria_label = Labels.Finish, @role = "button" })
			</div>
		</div>         
    }
</div>
