@model ChangePasswordModel
@{
    ViewBag.Title = Labels.ChangePassword;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.Partial("_ValidationSummaryOuter")

<h1>@Labels.ChangePassword</h1>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PasswordRules")

    <div>
        @Html.HifisEditorFor(m => m.OldPassword, null, new { autocomplete = "off" })
    </div>

    <div>
        @Html.HifisEditorFor(m => m.NewPassword, null, new { autocomplete = "off" })
    </div>

    <div>
        @Html.HifisEditorFor(m => m.ConfirmPassword, null, new { autocomplete = "off" })
    </div>

    <div>
        @*@Html.HifisEditorFor(m => m.SecretPhrase)*@
    </div>

    <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10" >
            <input id="submitBtn" type="submit" value="@Labels.Save" role = "button" />
	    </div>
    </div>  
}
