@model ForgetPassord
@{
    ViewBag.Title = Labels.ForgotPassword;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.Partial("_ValidationSummaryOuter")

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @*<div>
        @Html.HifisEditorFor(m => m.UserName)
    </div> 
            
    <div>
        @Html.HifisEditorFor(m => m.Email)
    </div>*@

    <div class="col-md-8">
        @Html.HifisEditorFor(m => m.UserNameOrEmail)

    <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10" >
		    <input type="submit" value="@Labels.ResetPassword" role = "button"/>
	    </div>
    </div>  
    </div>
}