@{
    ViewBag.ViewTitle = Labels.ForgotPassword;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="alert alert-info">
    <h3>Check your Inbox / Vérifiez votre boîte de réception</h3>
    <br />

    <p>To regain access to your <b>@ViewBag.username</b> account, follow the instructions sent to your <b>@ViewBag.email</b> email address.</p>
    <br />
    <p>
        If you don't see the password reset email, please check your spam folder for an email from <b>@ViewBag.fromEmail</b>.
        If you still don't see the email, please contact your administrator.
    </p>

    <hr />

    <p>Pour accéder à votre compte <b>@ViewBag.username</b>, veuillez suivre les instructions envoyées à votre adresse courriel <b>@ViewBag.email</b>.</p>
    <br />
    <p>
        Si vous ne recevez pas de courriel de réinitialisation de mot de passe, vérifiez votre dossier de courriel indésirable pour un courriel qui provient de <b>@ViewBag.fromEmail</b>. 
        Si vous n’y voyez toujours pas le courriel, veuillez communiquer avec votre administrateur.
    </p>
    
</section>

<a class="btn btn-default" href="~/Account/LogOn" role = "button">@Labels.logIn <span class="glyphicon glyphicon-log-in"></span></a>

