@model ResetPasswordModel
@{
    ViewBag.Title = Labels.ResetPassword;
    ViewBag.LayoutView = LayoutPage.ContentOnly;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.Partial("_ValidationSummaryOuter")

<h1>@Labels.ChangePassword</h1>

@if (ViewBag.passExpire != null && ViewBag.passExpire)
{
    <section class="alert alert-info">
        <p>@Labels.PasswordExpired</p>
    </section>
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(m => m.ResetID)
    </div>

    @Html.Partial("_PasswordRules")

    <div>
        @Html.HifisEditorFor(m => m.NewPassword, null, new { autocomplete = "off" })
    </div>

    <div>
        @Html.HifisEditorFor(m => m.ConfirmPassword, null, new { autocomplete = "off" })
    </div>

    <div>
        @*@Html.HifisEditorFor(m => m.SecretPhrase)*@
    </div>

    <div class="form-group">
       
        <div class="col-sm-offset-2 col-sm-10"  >
            <input id="submitBtn" type="submit" value="@Labels.Save" role = "button" />
        </div>
    </div>
}
