@model HIFIS.WEB.ViewModels.QuestionnaireQuestionDropdownViewModel
@{
    ViewBag.ViewTitle = Labels.Edit + " " + Labels.DropdownValue;
    
    ViewBag.LayoutView = LayoutPage.ContentOnly;
}

@Html.Partial("_ValidationSummaryOuter")

<div>    
    @using (Html.BeginForm("EditDropdown", "Questionnaires", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Partial("_BaseHiddenFor", (BaseViewModel)Model)

        <div>
            @Html.HifisDisplayFor(model => model.QuestionaireName)
        </div>
        
        <div>
            @Html.HifisDisplayFor(model => model.QuestionNo)
        </div>
        
        <div>
            @Html.HifisDisplayFor(model => model.Question)
        </div>        
        <br />
        
        <div>
            @Html.Partial("_EditDropdown", Model)
        </div>
        
        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="saveButton  ">@Labels.Save</button>
                @Html.ActionLink(Labels.Cancel, "EditQuestion", new { id = Model.QuestionID }, new { @class = "cancelButton", alt=Labels.Cancel, aria_label = Labels.Cancel, @role = "button" })
			</div>
		</div>
    }
</div>

<div>@Html.Partial("_BaseFooter", (BaseViewModel)Model)</div>
